body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
#heading{
    text-align: center;
    margin-top: 5%;
    color: azure;
    font-size: 20px;
    font-family: cursive;
}
.main-container{
    height: 500px;
    width: 300px;
    background-color: rebeccapurple;
    margin-left: 35%;
    margin-top: 4%;
    padding: 10px;
        border-radius: 8px;

    
}
#display{
    width: 280px;
    height: 20px;
    padding: 10px;
    background-color: white;
    text-align: right;
        border-radius: 10px;

}
#buttonk{
    height: 60px;
    width: 60px;
    margin: 5px;
    background-color:bisque;
    border-radius: 20px;
}
#buttonk:hover{
    background-color:orange;
}
#equal-to-button{
    height: 60px;
    width: 210px;
    margin: 5px;
    background-color: bisque;
        border-radius: 20px;

}
#equal-to-button:hover{
    background-color:green;
}
[data-key="AC"]
{
    background-color: red;
}
[data-key="+"] , [data-key="-"] , [data-key="*"] , [data-key="/"]
{
    color: blueviolet;
    font-size: 20px;
    font-weight: 900;
}